<section class="customers-section">
  <div class="cust__parent">
    <span class="cust__child">
      <div class="cust__stmt">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ipsam
        magnam iure vitae pariatur hic. Laboriosam, accusamus nemo. Earum vel
        aliquid, voluptates itaque mollitia ullam. Nostrum minus sint quaerat
        similique.
      </div>
      <span class="cust__img-wrapper">
        <img
          src="/assets/images/customer.jpg"
          alt="customer's photo"
          class="cust__image"
          class="src"
        />
        <p class="cust__name">Jane Doe</p>
      </span>
    </span>
    <span class="cust__child">
      <span class="cust__img-wrapper">
        <img
          src="/assets/images/customer.jpg"
          alt="customer's photo"
          class="cust__image"
          class="src"
        />
        <p class="cust__name">Jane Doe</p>
      </span>
      <div class="cust__stmt">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ipsam
        magnam iure vitae pariatur hic. Laboriosam, accusamus nemo. Earum vel
        aliquid, voluptates itaque mollitia ullam. Nostrum minus sint quaerat
        similique.
      </div>
    </span>
    <span class="cust__child">
      <div class="cust__stmt">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ipsam
        magnam iure vitae pariatur hic. Laboriosam, accusamus nemo. Earum vel
        aliquid, voluptates itaque mollitia ullam. Nostrum minus sint quaerat
        similique.
      </div>
      <span class="cust__img-wrapper">
        <img
          src="/assets/images/customer.jpg"
          alt="customer's photo"
          class="cust__image"
          class="src"
        />
        <p class="cust__name">Jane Doe</p>
      </span>
    </span>
  </div>
</section>
