<div class="feature-section">
    <span class="feature__card">
        <h3 class="features__title">Ease of use</h3>
        <p class="features__description">Set up your counter in few minutes. We provide one counter to each user for free. Customers can join queue via multiple channels e.g. Whatsapp, Telegram, Discord etc</p>
    </span>
    <span class="feature__card">
        <h3 class="features__title">Feature rich</h3>
        <p class="features__description">We roll out new features every week and provide themes to help users customize their store. Our plugin store have many cool features to help users to make their store stand out in the crowd.</p>
    </span>
    <span class="feature__card">
        <h3 class="features__title">24 * 7 support</h3>
        <p class="features__description">We care about our customers and are committed to provide quanlity service and support. You can reach us for any query and suggestions, and we will reach you out within 2-3 working days. </p>
    </span>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3b4d61" fill-opacity="1" d="M0,224L1440,32L1440,0L0,0Z"></path></svg>