@import 'global.scss';

.home-container{
     .banner-cntn{
         width: 100%;
         .banner-background{
             position: absolute;
             top: 0px;
             z-index: -1;
             img{
                 width: 100%;
                 height: fit-content;
                 object-fit: contain;
             }
         }
         .banner__card{
             border-radius: 5px;
             background-color: $bg2;
             padding: 2rem 4rem;
             margin: 10rem 15rem;
             .title{
                 font-family: $pfont;
                 color: white;
             }
             .subtitle{
                 font-family: $sfont;
                 color:white;
             }
         }
     }
}