@import 'global.scss';

*{
    margin: 0 auto;
    padding: 0px;
}

.navbar-container{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $bg1;
    .navbar__logo{
        width: 3rem;
        height: 3rem;
        float: left;
    }
    .navbar__links{
        float:right;
        padding: 1rem;
        .navbar__item{
            margin: 0px 1rem;
            text-decoration: none;
            color: white;
            font-family: $pfont;
        }
        .navbar__item:hover{
            color:$bg3;
        }
    }
}